@import "../../../static/scss/vars";
@import "../../../static/scss/mixins";

.list {

    dl {
        text-align: left;
    }

    dt {
        cursor: pointer;

        &:before {
            content: '[-] ';
        }

        &.closed {

            &:before {
                content: '[+] ';
            }

        }

        small {
            color: $color_brand1;
            font-size: 1.2rem;
        }
    }

    dd.closed {
        display: none;
    }
}
