@import "../../../static/scss/vars";
@import "../../../static/scss/mixins";

.filters {
    width: 100%;
    padding-bottom: 2.5rem;
    margin-bottom: -1.5rem;

    @media (min-width: $screen-md-min) {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.filter {
    margin-bottom: 1.5rem;

    &_toEnd {

        @media (min-width: $screen-md-min) {
            text-align: right;
        }
    }

    &__label {
        display: block;
        padding-bottom: 0.5rem;
        padding-right: 10px;
    }

    &__input {
        @include input();
        width: 30rem;
    }
}
